.ExtraStuff{
    background-color: transparent;
    max-width: 60%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    margin: 0 auto;
}

.ExtraStuff h1{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

.ShowTime{
    background-color: transparent;
    max-width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    margin: 0 auto;
}

.ShowTime p{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5rem;
    color: white;
}